---
import Layout from '../layouts/Layout.astro';
import ContactForm from '~/components/sections/ContactForm.astro';
---
<Layout title="Contact Us">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden h-screen">
		<ContactForm/>
		<!--Add More Here -->
	</main>
</Layout>
