---
import Layout from '../layouts/Layout.astro';
import ContactForm from '~/components/sections/ContactForm.astro';
---
<Layout title="Welcome to Vurge">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<ContactForm/>
	</main>
</Layout>
