---
import Layout from '../layouts/Layout.astro';
import SuccessPage from '~/components/sections/SuccessPage.astro';
---
<Layout title="Contact Us">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden h-screen">
        <div class="my-auto">
		    <SuccessPage/>
        </div>
	</main>
</Layout>
